@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 20%);
}

body.false {
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue), 100%, 20%);
}
.container {
    background-color: azure;
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    padding: 10px;
}

.question-text{
    font-size: 30px;
    color: rgb(88, 84, 84);
    text-align: center;
    padding: 20px 0px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    margin: 20px 0;
}

.btn {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid hsl(var(--hue), 100%, 30%);
    font-size: 20px;
    cursor: pointer;
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 40%);
    color: white;
    outline: none;
}


.btn:hover{
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);

}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 40px;
    
}

.next-btn{
    margin-left: 10px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

